/* <!-- -----------------Rates Start-------------------------- --> */
    .table-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      box-shadow: #000;
      border: 3px;
      border-style:solid;
      border-radius: 20px;
      padding: 10px;
    }
    table {
      width: 95%;
      border-collapse: collapse;
      box-shadow: 0 4px 12px rgba(0,0,0,0.2);
      align-content: center;
      align-items: center   ;
    }
    th, td {
      border: 1px solid #000;
      padding: 10px;
      text-align: center;
    }
    th {
      background-color: #f5c400; /* Yellow header */
      color: black;
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
/* <!-- -----------------Rates End-------------------------- --> */


/* <!-- ---------------Soalr Pant Calculator Start------------------------ --> */
    .calculator {
      max-width: 520px;
      margin: auto;
      background: #fff;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    }
    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }
    label {
      font-weight: bold;
      display: block;
      margin: 2px 0 2px;
      color: rgb(19, 5, 96);
    }
    select, input {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border-radius: 6px;
      border: 1px solid #ccc;
    }
    .cal_button {
      background: #28a745;
      color: #fff;
      padding: 12px;
      width: 100%;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
    }
   .cal_button:hover {
      background: #218838;
    }
    .result {
      margin-top: 20px;
      padding: 15px;
      border-radius: 6px;
      background: #e9f7ef;
      border: 1px solid #c3e6cb;
    }

/* Optional small variant: place at left instead by adding class .left */
.whatsapp-callback.left { left: 20px; right: auto; }
/* ------Floating WhatsApp callback button End-------- */


/* ======================================Extra Item Navigation Start====================================================================== */
    /* Extra navigation */
    nav{display:flex;gap:10px;flex-wrap:wrap}
    .nav-link{
      display:flex;gap:10px;align-items:center;padding:12px 14px;border-radius:10px;background:var(--glass);text-decoration:none;color:inherit;font-weight:600;border:1px solid rgba(255,255,255,0.02);transition:all 160ms ease;
    }
    .nav-link svg{width:18px;height:18px;opacity:0.95}
    .nav-link .label{white-space:nowrap}
  /* ======================================Extra Item Navigation End====================================================================== */