/* <!-- -----------------Rates Start-------------------------- --> */
    .table-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      box-shadow: #000;
      border: 3px;
      border-style:solid;
      border-radius: 20px;
      padding: 10px;
    }
    table {
      width: 95%;
      border-collapse: collapse;
      box-shadow: 0 4px 12px rgba(0,0,0,0.2);
      align-content: center;
      align-items: center   ;
    }
    th, td {
      border: 1px solid #000;
      padding: 10px;
      text-align: center;
    }
    th {
      background-color: #f5c400; /* Yellow header */
      color: black;
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
/* <!-- -----------------Rates End-------------------------- --> */


/* <!-- ---------------Soalr Pant Calculator Start------------------------ --> */
/*
.calculator {
      max-width: 520px;
      margin: auto;
      background: #fff;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    }
    label {
      font-weight: bold;
      display: block;
      margin: 12px 0 6px;
    }
    select, input {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border-radius: 6px;
      border: 1px solid #ccc;
    }
    button {
      background: #28a745;
      color: #fff;
      padding: 12px;
      width: 100%;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
    }
    button:hover {
      background: #218838;
    }
    .result {
      margin-top: 20px;
      padding: 15px;
      border-radius: 6px;
      background: #e9f7ef;
      border: 1px solid #c3e6cb;
    }
*/
/* <!-- ---------------Soalr Pant Calculator End------------------------ --> */
