/********** Template CSS **********/
:root {
    --primary: #32C36C;
    --light: #F6F7F8;
    --dark: #1A2A36;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

/* ------My custome Item Start----------------- */
.back-to-top {
    position: fixed;
    display: none;
    right: 10px;
    bottom: 5px;
    z-index: 99;
}

#chat{
  height: 50px;
  width: 50px;
  border-radius: 10%;
  position: fixed;
  bottom: 5px;
  left: 10px;
  z-index: 1000;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5e/WhatsApp_icon.png");
  background-size: cover;
}

#company_logo {
  height: 70px;
  width: 100px;
/* width: 240px; */
  position:relative;
  top: 2px;
  left: 5px;
  border-radius: 10%;
  display: inline-block; /* centers inside text-align */
  /* background-image: url("https://iili.io/KankYWF.png"); */
    background-image: url("img/company_logo.png");
  /* background-image: url("https://iili.io/KYHTphQ.png"); */
  background-size: cover;
  background-position: center;
}

#APN_logo {
  height: 90px;
  width: 300px;
  position:relative;
  top: 0px;
  left: 10px;
  border-radius: 10%;
  display: inline-block; /* centers inside text-align */
  background-image: url("https://partner.apnsolar.com/assets/logo.png");
  background-size: cover;
  background-position: center;
}

#Tchat{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    background-image: url("https://iili.io/K0IFJFS.png");
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCDgcdcalh2EWYI8b2MstK84r5daxTjrLe-w&s"); */
    background-size: cover;
}
/* ------My custome Item End----------------- */
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*** Navbar ***/
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-brand,
.navbar a.btn {
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: var(--dark);
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.owl-carousel-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .1);
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item p {
        font-size: 16px !important;
    }
}

.header-carousel .owl-dots {
    position: absolute;
    width: 60px;
    height: 100%;
    top: 0;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-carousel .owl-dots .owl-dot {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 5px 0;
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(255, 255, 255, .9);
    border-radius: 45px;
    transition: .5s;
}

.header-carousel .owl-dots .owl-dot.active {
    width: 60px;
    height: 60px;
}

.header-carousel .owl-dots .owl-dot img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2px;
    border-radius: 45px;
    transition: .5s;
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** About ***/
@media (min-width: 992px) {
    .container.about {
        max-width: 100% !important;
    }

    .about-text  {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .about-text  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .about-text  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.service-icon {
    position: relative;
    margin: -50px 0 25px 0;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: #FFFFFF;
    border-radius: 100px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover .service-icon {
    color: #FFFFFF;
    background: var(--primary);
}


/*** Feature ***/
@media (min-width: 992px) {
    .container.feature {
        max-width: 100% !important;
    }

    .feature-text  {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .feature-text  {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .feature-text  {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Project Portfolio ***/
#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--primary);
    border-color: var(--primary);
}

.portfolio-img {
    position: relative;
}

.portfolio-img::before,
.portfolio-img::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    background: var(--dark);
    transition: .5s;
}

.portfolio-img::before {
    left: 50%;
}

.portfolio-img::after {
    right: 50%;
}

.portfolio-item:hover .portfolio-img::before {
    width: 51%;
    left: 0;
}

.portfolio-item:hover .portfolio-img::after {
    width: 51%;
    right: 0;
}

.portfolio-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 1;
    transition: .5s;
}

.portfolio-item:hover .portfolio-btn {
    opacity: 1;
    transition-delay: .3s;
}


/*** Quote ***/
@media (min-width: 992px) {
    .container.quote {
        max-width: 100% !important;
    }

    .quote-text  {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .quote-text  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .quote-text  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Team ***/
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.team-item img {
    border-radius: 8px 60px 0 0;
}

.team-item .team-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: #FFFFFF;
    transition: .5s;
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 350px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
    z-index: 1;
}

.testimonial-carousel:hover .owl-nav {
    width: 300px;
    opacity: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    color: var(--primary);
    font-size: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}

.testimonial-carousel .testimonial-img img {
    width: 100px;
    height: 100px;
}

.testimonial-carousel .testimonial-img .btn-square {
    position: absolute;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial-carousel .owl-item .testimonial-text {
    margin-bottom: 30px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transform: scale(.8);
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    transform: scale(1);
}


/*** Contact ***/
@media (min-width: 992px) {
    .container.contact {
        max-width: 100% !important;
    }

    .contact-text  {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .contact-text  {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .contact-text  {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    color: #9B9B9B;
    border: 1px solid #9B9B9B;
    border-radius: 38px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #9B9B9B;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: #FFFFFF;
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .copyright a:hover {
    color: var(--primary);
}


/*  Rooftop solar Installation Activities Section End */
.on_grid{
  max-height: 350px;
}
.rooftopsolar {
  padding: 50px 0;
  background: #f8f9fa;
}

.rooftopsolar h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #333;
}

/* Flexbox Row */
.rooftopsolar .row {
  display:inline-flex;
  justify-content: space-between;
  align-items: center;  /* ✅ makes all same height */
  gap: 0px;
}

/* Common Box Style */
.roofbox {
  flex: 1; /* ✅ equal width */
  display: flex;
  flex-direction: column; /* keep content top-to-bottom */
  justify-content: center;
  padding: 25px 20px;
  border-radius: 12px;
  color: #fff;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Images */
.roofbox img {
  max-width: 70px;
  margin-bottom: 10px;
  align-self: center;
}

/* Titles */
.roofbox h3 {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 600;
}

/* Lists */
.roofbox ul {
  list-style:square;
  padding: 0;
  margin: 0;
  text-align: left;
  flex-grow: 1; /* ✅ fills empty space to balance height */
}

.roofbox ul li {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 1.6;
  text-wrap:initial;
}

/* Hover Effect */
.roofbox:hover {
  transform: translateY(-8px);
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
}

/* Individual Box Colors */
.consumerbox {
  background: #e74c3c; /* Red */
}

.vendorbox {
  background: #27ae60; /* Green */
}

.discombox {
  background: #2980b9; /* Blue */
}

/* Responsive for Mobile */
@media (max-width: 768px) {
  .rooftopsolar .row {
    flex-direction: column;
  }
}
 /* Rooftop solar Installation Activities Section End */


 /* Our Product Execution Process START */
    .accordion {
      max-width: 700px;
      margin: auto;
      background: #fff;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    }

    .accordion-item {
      border-bottom: 1px solid #a9a2a2;
    }

    .accordion-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 18px 20px;
      cursor: pointer;
      background: #fbfeff;
      color: #700e0e;
      font-size: 18px;
      font-weight: 600;
      transition: background 0.3s ease;
    }

    .accordion-title:hover {
      background: #fff;
    }

    .accordion-title i {
      transition: transform 0.3s ease;
    }

    .accordion-title.active i {
      transform: rotate(180deg);
    }

    .accordion-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease, padding 0.3s ease;
      background: #f1f1f1;
      padding: 0 20px;
      font-size: 16px;
      color: #333;
    }

    .accordion-content.open {
      padding: 15px 20px;
      max-height: 500px;
    }

    /* Responsive */
    @media (max-width: 600px) {
      .accordion-content {
        font-size: 14px;
      }
    }
/* Our Product Execution Process END */

/* <!-- ====================Subsidy End============================================ --> */
    .su_container {
      max-width: 1200px;
      margin: 30px auto;
      background: #fff;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }
    h2 {
      text-align: center;
      color: #0056b3;
      margin-bottom: 20px;
      font-size: 28px;
    }
    .subsidy-section {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
    .subox {
      flex: 1;
      min-width: 280px;
      margin: 10px;
      padding: 20px;
      border-right: 1px solid #ddd;
    }
    .subox:last-child {
      border-right: none;
    }
    .subox h3 {
      color: #000;
      font-size: 20px;
      margin-bottom: 15px;
    }
    .highlight {
      color: #0056b3;
      font-weight: bold;
    }
    /* Horizontal layout for Residential benefits */
    .benefit-row {
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      gap: 20px;
      margin-top: 15px;
    }
    .benefit {
      flex: 1;
      background: #f1f5fb;
      padding: 15px;
      border-radius: 10px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    }
    .sunote {
      text-align: center;
      margin: 20px 0;
      font-weight: bold;
    }
    .capacity-table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
      text-align: center;
    }
    .capacity-table th, .capacity-table td {
      border: 1px solid #ccc;
      padding: 10px;
    }
    .capacity-table th {
      background: #f1f5fb;
    }
    .rounded-box {
      border: 1px solid #ccc;
      border-radius: 10px;
      overflow: hidden;
      margin-top: 20px;
    }
/* <!-- ====================Subsidy End============================================ --> */

